<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.flipkart">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.admin.flipkart.home.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.admin.flipkart.home.MainActivity" />
        <activity android:name="com.example.admin.flipkart.product.activity.ProductActivity" />
        <activity android:name="com.example.admin.flipkart.product.activity.ProductDescriptionActivity" />
        <activity android:name="com.example.admin.flipkart.category.activity.AllCategoryActivity" />
        <activity android:name="com.example.admin.flipkart.brand.activity.BrandActivity" />
        <activity
            android:name="com.example.admin.flipkart.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="com.example.admin.flipkart.login.RegisterActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"
            tools:replace="android:value" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider117409598925079"
            android:exported="true" />

        <activity android:name="com.example.admin.flipkart.firebase.FirebaseActivity" />
        <activity android:name="com.example.admin.flipkart.firebase.UserProfileActivity" />
        <activity android:name="com.example.admin.flipkart.cart.activity.CartActivity"></activity>
    </application>

</manifest>